doctype html
html(lang="en")
    head
        title
            block title
                | Untitled
        block css
        block head
    body
        block body
        block javascriptTemplates
        block javascript
        